.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #2F302C;
  padding: 38px 64px 38px 64px;
  color: #fff;
  min-width: 600px;
}

.logo {
  display: flex;
  align-items: center;
  width: 164px;
  height: 42px;
  padding: 1px, 0px, 1px, 0px;
  margin-right: 36px;
}

.logo-text {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 139px;
  height: 40px;
  font-size: 32px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.links {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.item {
  color: #fff;
  text-decoration: none;
  margin-left: 36px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

a.item:hover {
  color: #83CEF9;
}

.more {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: left;
  margin-left: auto; 
  cursor: pointer;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  font-family: lato;
}

.more:hover {
  color: #83CEF9;
}

.more img {
  margin-left: 8px;
}

.dropdown-content {
  background-color: #2F302C;
  display: none;
  position: absolute;
  width: 190px;
  top: 81px;
  left: -66px;
  border-radius: 8px;
  border: 0.5px;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content a {
  display: flex;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #EEEEEE;
  color: #2F302C;
}

.search {
  width: 468px;
  padding: 12px, 0px, 12px, 0px;
  border: 0px, 0px, 1px, 0px;
  gap: 12px;
  border-bottom: 1px solid #D4D4D4;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  margin-left: 44px;
  font-weight: 500;
}

.search img {
  height: 20px;
  width: 20px;
}

.search-text {
  height: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
