.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 32px;
  margin-right: 32px;
}

.links {
  display: flex;
  align-items: center;
  margin-right: auto;
  /* border: 1px solid #fff; */
}

.item {
  color: #fff;
  text-decoration: none;
  margin-left: 128px;
  /* border: 1px solid #fff; */
}

.more {
  display: flex;
  color: #fff;
  align-items: center;
  margin-left: auto; 
  padding: 0 16px;
  cursor: pointer;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: -100px;
  background-color: #ffffff;
  width: 96px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content.show {
  display: block;
}

.dropdown-content a {
  display: flex;
  justify-content: center;
  color: black;
  padding: 16px;
  text-decoration: none;
  margin: 0 10px;
}
